* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid salmon;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* gap: 0.3rem; */
}

nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

}

button {
    font-size: 1.2rem;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
}

nav, .footer {
    padding: 2.5rem;
}

.home-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2.5rem;
}

.hero-text-container {
    display: grid;
    gap: 0.3rem;
}

.hero-button {
    margin-top: 1rem;
}

.hero-left-container, .hero-image-container {
    flex-basis: 400px;
}

.hero-image {
    width: 100%;
}


#content {
    color: green;
}